
html{
    scroll-behavior: smooth;
}

#menu
{
	position: fixed;
}   
.topnav {
    background-color: rgb(74, 82, 174);
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    z-index: 100;
}


.topnav a:hover {
    background-color: rgb(98, 105, 176);
    color: rgb(255, 255, 255);
    transition: width 2s, height 2s, transform 2s;

}


.topnav a.active {
    background-color: #040b58;
    color: white;
}

section {
    min-height: 620px;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbd3fc;
}

#opening_sec {
    background-color: #67cb6c;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(133, 14, 245); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(7, 1, 2, 0.5), .125rem .125rem 1rem rgba(2, 4, 83, 0.5);
}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  margin-left: 35%;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.2;
}

.active,
.demo:hover {
  opacity: 1;
}
  


.emoji-drawer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  width: 100px;

  margin-bottom: 32px;
  transition: opacity 0.2s;
}

.hidden {
opacity: 0;
}

.emoji {
  text-align: center;
  font-size: 24px;
  padding: 8px;
}

.emoji:hover {
  cursor: pointer;
}


.email-form {
  width: 70%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: 0px 0px 20px #00000010;
  position: relative; 
  left: -400px;
}

.email-title{
  font-family: Garamond, serif;
  font-size: 25px;  
  text-align: center;
}

.QR{
  position: relative; 
  left: 400px;
}

.like{
  position: relative; 
  left: 800px;
}

.facebook-title{
  font-size: 14px; 
  font-family: "Lucida Console", "Courier New", monospace;
}

.button-submit {
  background-color: #280ebb;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-submit:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(7, 1, 2, 0.5), .125rem .125rem 1rem rgba(2, 4, 83, 0.5);
}




.button-emoji {
  background: linear-gradient(to bottom right, #474aef, #e630cd);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
} 

.button-emoji:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(172, 71, 239, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.contact-email{
  width: 100%;
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.contact-message{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.contact-text{
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.contact_sec{
  background-color: #e5e5f7;
}

